.sort__routes {
  width: 235px;
  height: 15px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.sort__routes-filters {
  margin-left: 5px;
  overflow: hidden;
  height: 25px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.sort__routes-filters-active {
  overflow: visible;
  height: 100px;
  position: absolute;
  left: 116.5px;
}

.sort__routes-filters-active span {
  width: 139px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 1px 5px 1px rgba(146, 143, 148, 0.4);
  background-color: #f7f5f9;
  height: 70px;
  
}

.sort__routes-filters-active span:nth-last-of-type() {
  border: none;
}