.form-direction {

  padding: 25px 25px;
  margin: 0 auto;
  max-width: 1490px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(41, 41, 41, 0.69);
  min-height: 350px;
}

.form-direction__container {
  min-height: 350px;
  margin-top: 20px;
  display:  flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
}

.form-direction__title {
  width: 200px;
}

.form-direction__button-container {
  display: flex;
  flex-direction: column;
}

.form-direction__container input {
  padding: 0 10px;
  width: 325px;
  height: 60px;
  margin-right: 20px;
  border-radius: 3px;
  background-color: #fff;
}

.search-form__input-date-to:nth-child(1)  {
  margin-right: 0;
}

/* .form-direction__city-from:nth-of-type(2) {
  margin-right: 0px;
} */

.form-direction__submit {
  margin-top: 40px;
  border: none;
  width: 323px;
  height: 60px;
  border-radius: 5px;
  background-color: #ffa800;
  font-size: 24px;
}

.form-direction__submit:hover {
  cursor: pointer;
  box-shadow: 5px 5px 15px;
}

.form-direction__submit:active {
  box-shadow: none;
  border: 1px solid #ffa800;
  color: #ffa800;
  background-color: #fff;
}

.form-direction__line {
  position: relative;
  display: flex;
}

.static {
  position: static;
}

.form-direction__btn-exchange {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30%;
  left: 46.7%;
}

.form-direction__city-from {
  position: relative;
}

.list__clue-cities {
  position: absolute;
}

.home {
  margin: 0;
  width: 730px;
}

.main {
  margin-top: 100px;
  height: 340px;
}

.main__container {
  justify-content: center;

}

.city-input {
  position: relative;
}

.city-input input {
  background-image: url('../../../assets/images/svg/input/navigate.svg');
}

.input-container-calendar input {
  background-image: url('../../../assets/images/svg/input/calendar.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

@media screen and (max-width: 1750px) {
  .form-direction__city-to {
    margin-right: 0 !important;
  }
}
