.direct-time__container {
  padding: 32.5px;
  min-height: 70px;
  color: #E5E5E5;
}

.settings__container__selection .direct-time__container {
  border-bottom: 1px solid #E5E5E5;
}

.direct-time__container_btn-show-content {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 32px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.direct-time__container-main {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.direct-time__container-main-flex {
  display: flex;
}

.direct-time__container-main-flex img {
  margin-right: 5px;
}