.advantages__container {
  width: 200px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.advantages__container img {
  width: 162px;
}

.advantages__description {
  margin-top: 20px;
  text-align: center;
  width: 60%;
}