.stage-wrapper {
  /* margin-top: 14px; */
  overflow: hidden;
  width: 100%;
  display: flex;
  /* margin: 0 0 16px 0; */
  align-items: stretch;
  list-style-type: none;
}
.stage-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  color: #fff;
  font-size: 12px;
  background-color: #3E3C41;
  ;
  border-color: #3E3C41;
  padding: 4px 0 4px 22px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  min-width: 10px;
  transition: min-width 0.2s ease;
  flex-basis: 99%;
}

.stage-item__number {
  margin-right: 10px;
  text-align: center;
  width: 56px;
  height: 56px;
  border: 3px solid #fff;
  border-radius: 100%;
  padding: 5px;
  font-size: 36px;
}

.stage-item__title {
  font-size: 30px;
}

/* .stage-item:hover {
  min-width: 150px;
} */
/* .stage-item.stage-current {
  color: #fff;
  min-width: 150px;
} */
/* .stage-item.stage-with-menu {
  padding-right: 5px;
} */
/* .stage-item .t-btn-menu {
  position: static;
  width: auto;
  height: auto;
} */
/* .stage-item .t-btn-menu .t-btn-marker {
  margin-right: 2px;
  margin-top: 12px;
  border-top-color: white;
} */
.stage-item .t-stage-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.2em;
  line-height: normal;
}
.stage-item:first-child {
  background-color: orange;
  border-color: orange;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}
.stage-item:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 10px;
  text-overflow: clip;
}
.stage-item:last-child:after,
.stage-item:last-child:before {
  opacity: 0;
}
.stage-item:before,
.stage-item:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.stage-item:after {
  border-left-color: inherit;
  border-width: 48px;
  margin-top: -49px;
}
.stage-item:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 48px;
  margin-top: -49px;
}
/* .stage-item,
.stage-item span {
  cursor: not-allowed;
} */
/* .stage-enabled,
.stage-item.stage-enabled span {
  cursor: pointer;
} */
/* .stage-item:hover ~ .stage-not-passed {
  background-color: #bababa !important;
}
.stage-item:hover ~ .stage-not-passed:after {
  border-left-color: #bababa !important;
} */
/* html[dir="rtl"] .stage-item:first-child {
  border-radius: 0 5px 5px 0;
}
html[dir="rtl"] .stage-item:last-child {
  border-radius: 5px 0 0 5px;
}
 */