.order__grade {
  height: 161px;
  background-color: rgba(255, 168, 0, 0.88);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px
}

.order__grade-stars {
  display: flex;
}

.order__grade-stars-сontainer {
  display: flex;
  align-items: center;
}

.order__grade-stars-сontainer p {
  font-size: 24px;
  font-weight: 400;
  color: #292929;
}

.order__star {
  cursor: pointer;
}

.order__star-active {
  fill: #fff;
}

.order__star-hover {
  fill: #f0e6e6;
}

.order__grade-btn {
  cursor: pointer;
  width: 323px;
  height: 60px;
  border: 1px solid #3e3c41;
  border-radius: 5px;
  background-color: transparent;
  font-size: 27px;
  font-weight: 700;
  color: #292929;
}

.order__grade-btn:hover {
  box-shadow: 0px 3px 5px #292929;
}

.order__grade-btn:active {
  background-color: #fff;
  color: #ffa800;
  border-color: #ffa800;
  box-shadow: none;
}

