.confirmation__container {
  border: 1px solid #c4c4c4;
  box-shadow: 2px 3px 5px #c4c4c4;
  max-width: 959px;
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  background-color: #fff;
}

.confirmation__container:first-of-type {
  margin-top: 0;
}

.confirmation__container-wrapper {
  display: flex;
  justify-content: space-between;
}

.confirmation__container-box {
  display: flex;
  align-items: flex-end;
  border-left: 1px dashed #e5e5e5;
  padding: 20px;
}

.confirmation__container-price {
  display: flex;
  flex-direction: column;
}

.confirmation__container-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.confirmation__container-price-total {
  font-size: 30px;
  color: #292929;
  margin-right: 10px;
}

.confirmation__container-price-row {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  color: #292929;
}

.confirmation__container-price-row span {
  margin-right: 10px;
}
