.header__menu {
  /* padding: 0  50px; */
  padding-left: 120px;
  background-color: #292929;
  font-size: 30px;
}

.header__menu-container {
  height: 94px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__menu-link {
  font-weight: 300;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}

.header__menu-link:hover {
  text-decoration: underline;
}

.header__menu-link:active {
  font-weight: 400;
}